$breakpoint-phone: 37.5em;
$breakpoint-tablet-port: 56.25em;
$breakpoint-tablet-land: 75em;
$breakpoint-big-desktop: 112.5em;

// Couleurs principales
$good-sushi-primary-red: #BC002D;     // Rouge japonais traditionnel
$good-sushi-primary-black: #1A1A1A;   // Noir profond

// Couleurs secondaires
$good-sushi-accent-cream: #F7F3E3;    // Crème doux
$good-sushi-accent-sage: #D7E1D8;     // Vert sage pâle

// Tons neutres
$good-sushi-neutral-white: #FFFFFF;   // Blanc pur
$good-sushi-neutral-gray: #E5E5E5;    // Gris clair

// Couleurs d'accompagnement
$good-sushi-accent-gold: #BF9B30;     // Or subtil
$good-sushi-accent-charcoal: #2C3539; // Gris charbon

// Couleurs de feedback
$good-sushi-success: #7BA696;         // Vert apaisant
$good-sushi-error: #A61B1B;          // Rouge foncé
